<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ComponentConfigurations" type="Microsoft.Crm.Tools.SolutionPackager.ComponentConfigurationSection, SolutionPackager" />
  </configSections>
  <ComponentConfigurations>
    <plugins>
      <add name="CustomControls" type="SolutionPackager.Plugins.CustomControls, SolutionPackager.Plugins" />
    </plugins>
  </ComponentConfigurations>
</configuration>